@font-face {
  src: url('../fonts/first-font.woff2') format('woff2');
  font-family: 'First Font';
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
}

html {
  overflow-x: hidden;
  background-color: var(--c-bg);
}

html * {
  box-sizing: border-box;
}

body {
  font: var(--fs-main) -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 10px;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

a:focus,
input:focus,
button:focus {
  outline: 1px solid var(--c-accent);
  box-shadow: 0 0 0.75rem var(--c-accent);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

.options__position {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 80vb;
}

.options__wrapper {
  overflow: hidden;
  inline-size: 800px;
  min-block-size: 400px;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.4);
}

html[dir="ltr"] .options__wrapper {
  background: radial-gradient(circle 70rem at var(--p-gradient-x-ltr) 50%,
      var(--c-bg-light) 0%, var(--c-bg) 100%);
}

html[dir="rtl"] .options__wrapper {
  background: radial-gradient(circle 70rem at var(--p-gradient-x-rtl) 50%,
      var(--c-bg-light) 0%, var(--c-bg) 100%);
}

.options__contents {
  display: flex;
  align-items: center;
  padding-inline: 1rem;

  /* Font sizes act differently in Chinese */
  block-size: 360px;
}

.access-banner__wrapper {
  --expanded-banner-height: 2.5rem;

  overflow: hidden;
  background-color: var(--bg-color);
  background-image: repeating-linear-gradient(135deg,
      #00000009,
      #00000009 0.99rem,
      #0000 1rem,
      #0000 1.99rem,
      #00000009 2rem);
  min-block-size: 0;
  padding-inline: 1rem;
  transition: min-block-size 400ms ease-out;
}

.access-banner__wrapper--fix {
  --contents-color: black;
  --bg-color: var(--c-error);
  min-block-size: var(--expanded-banner-height);
}

.access-banner__wrapper--limited {
  --contents-color: var(--c-text);
  --bg-color: color-mix(in oklab, var(--c-bg-light), white 10%);
  min-block-size: var(--expanded-banner-height);
}

.access-banner__fix,
.access-banner__limited {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--contents-color);
  min-block-size: var(--expanded-banner-height);
  padding-block: 0.2rem;
  gap: 0.5rem;
}

.access-banner__wrapper--fix .access-banner__fix,
.access-banner__wrapper--limited .access-banner__limited {
  display: flex;
}

.access-banner__icon {
  inline-size: 1.5rem;
  aspect-ratio: 1/1;
}

.access-banner__limited .access-banner__icon {
  filter: contrast(0) brightness(10);
}

.access-banner__limited-button,
.access-banner__fix-button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font: inherit;
  white-space: nowrap;
  cursor: pointer;
  color: var(--bg-color);
  background-color: var(--contents-color);
  font-weight: 600;
  border-radius: 0.25rem;
  padding-inline: 0.75rem;
}

.options__info {
  font-size: var(--fs-small);
  color: var(--c-text-secondary);
  padding-inline: 1rem;
}

.options__info a {
  font-weight: bold;
  color: var(--c-accent-secondary);
}

.options__info a:hover {
  color: var(--c-accent);
}

.options__logo {
  inline-size: 33.33333%;
  position: relative;
}

.options__bubble {
  position: absolute;
  block-size: auto;
  inline-size: 100%;
  inset-inline-start: 50%;
  inset-block-start: 50%;

  /* Vertical offset for shadow */
  translate: -50% -45%;
}

.options__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 66.66667%;
}

label {
  display: flex;
  align-items: center;
  inline-size: 100%;
  gap: 0.625rem;
}

label span {
  color: var(--c-text);
}

.quantum input[type=checkbox],
.quantum input[type=checkbox]:after {
  display: none;
}

.blink input[type=checkbox],
.blink input[type=checkbox]:after,
.quantum input[type=checkbox]+span,
.quantum input[type=checkbox]+span:after {
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.blink input[type=checkbox],
.quantum input[type=checkbox]+span {
  position: relative;
  background: var(--c-text-secondary);
  margin: 0;
  inline-size: 1.875rem;
  block-size: 0.8125rem;
  border-radius: 0.40625rem;
  flex-shrink: 0;
  -webkit-appearance: none;
  appearance: none;
}

.blink input[type=checkbox]:checked,
.quantum input[type=checkbox]:checked+span {
  background: var(--c-accent);
}

.blink input[type=checkbox]:after,
.quantum input[type=checkbox]+span:after {
  overflow: hidden;
  position: absolute;
  background: var(--c-switch);
  content: ' ';
  inset-block-start: 0;
  block-size: 0.8125rem;
  inline-size: 0.8125rem;
  border-radius: 0.40625rem;
}

.blink input[type=checkbox]:not(:checked):active:after,
.blink input[type=checkbox]:checked:active:after,
.quantum input[type=checkbox]:not(:checked):active+span:after,
.quantum input[type=checkbox]:checked:active+span:after {
  transition-duration: 0.2s;
  inline-size: 1.0625rem;
}


.blink input[type=checkbox]:not(:checked):after,
.quantum input[type=checkbox]:not(:checked)+span:after {
  inset-inline-start: 0;
}

.blink input[type=checkbox]:checked:after,
.quantum input[type=checkbox]:checked+span:after {
  inset-inline-start: 1.0625rem;
}

.blink input[type=checkbox]:checked:active:after,
.quantum input[type=checkbox]:checked:active+span:after {
  inset-inline-start: 0.875rem;
}

.options__secondary-text {
  font-size: var(--fs-small);
  color: var(--c-text-secondary);
}

.options__info ul {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 1.25rem;
}

.options__controls {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.options__switches {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.options__switch-group {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.options__keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.options__private-note {
  padding-inline-start: 2.5rem;
}

form>div.trailing-gap {
  margin-block-end: 1.875rem;
}

form a {
  margin-inline-end: 1.25rem;
}

/* px used deliberately here, since icon size doesn't change */
.egg {
  position: absolute;
  text-align: center;
  font-family: "First Font", cursive;
  font-size: 16px;
  letter-spacing: 0.05rem;
  color: var(--c-text);
  inset-inline: 0;
  inset-block-start: 47.5%;
  translate: 0 50px;
  opacity: 0.7;
}

.mac .egg {
  inset-block-start: 47%;
}

.egg.bye {
  transition: translate 0.2s ease-in;
}

.egg.hi {
  transition: translate 4s ease-out;
  translate: 0 0;
}

.egg.step-4 {
  color: var(--c-text-secondary);
  font-size: 10px;
  padding-block-start: 2px;
  opacity: 1.0;
}



.quantum .change-shortcut,
.quantum .keyboard-shortcut,
.blink .keyboard-shortcut-not-configurable {
  display: none;
}

@media (max-width: 750px) {
  .options__wrapper {
    --max-width: 480px;
  }

  .options__contents {
    flex-direction: column;
    align-items: center;
    block-size: initial;
    padding-inline: 1rem;
  }

  .options__logo {
    block-size: 280px;
    inline-size: 240px;
  }

  .options__controls {
    max-inline-size: var(--max-width);
    inline-size: 100%;
    margin-block-end: 2rem;
  }

  .options__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 100%;
    padding-block-end: 1.25rem;
  }

  .options__info ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-inline-size: var(--max-width);
    inline-size: 100%;
  }

  .options__info li {}
}