:root {
  --c-bg:               #131415;
  --c-text:             white;
  --c-text-secondary:   #5c6166;
  --c-accent:           #ff205f;
  --c-accent-secondary: #862440;
  --c-switch:           var(--c-text);

  --fs-main:            2.0rem;
  --fs-small:           1.4rem;

  font-size: 62.5% !important;
  box-sizing: border-box;
}

html {
  background: var(--c-bg);
  color:      var(--c-text);
}

body {
  font: var(--fs-main) -apple-system, sans-serif;
}

a {
  text-decoration: none;
  color: var(--c-accent);
}

footer, aside {
  font-size: var(--fs-small);
  color: var(--c-text-secondary);
}

footer a {
  font-weight: bold;
  color: var(--c-accent-secondary);
}

footer a:hover {
  color: var(--c-accent);
}

input {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

input[type=checkbox] {
  -webkit-appearance: none;

  width: 3rem;
  height: 1.3rem;

  background: var(--c-text-secondary);
  border-radius: 0.65rem;

  position: relative;

  transition: all 0.5s ease;
}

input[type=checkbox]:checked {
  background: var(--c-accent);
}

input[type=checkbox]:after {
  width: 1.3rem;
  height: 1.3rem;

  background: var(--c-switch);
  border-radius: 100%;

  content: ' ';
  overflow: hidden;
  position: absolute;
  top: 0;
}

input[type=checkbox]:not(:checked):after {
  left: 0;
}

input[type=checkbox]:checked:after {
  right: 0;
}
