:root {
  --c-bg: #131415;
  --c-bg-light: #2a2630;
  --c-text: white;
  --c-text-secondary: #5c6166;
  --c-accent: #ff205f;
  --c-accent-hover: #ff6893;
  --c-accent-secondary: #862440;
  --c-error: #ffb400;
  --c-success: #00ff7e;
  --c-switch: var(--c-text);

  --fs-main: 1.0rem;
  --fs-small: 0.75rem;

  --e-error-in: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  --e-error-out: cubic-bezier(0.215, 0.610, 0.355, 1.000);

  --leading-factor: 1.48;

  --p-gradient-x-ltr: 20.5%;
  --p-gradient-x-rtl: calc(100% - var(--p-gradient-x-ltr));

  box-sizing: border-box;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: var(--c-accent);
}

a:hover {
  color: var(--c-accent-hover);
}