html {
  background: var(--c-bg);
  color: var(--c-text);
}

body {
  font: var(--fs-main)/calc(var(--fs-main) * var(--leading-factor)) -apple-system, BlinkMacSystemFont, sans-serif;
  width: 800px;
  margin: 0 auto;
}

h4 {
  font-size: 3.2rem;
  font-weight: 300;

  border-bottom: 1px solid var(--c-accent);

  padding-bottom: 1.0rem;
  margin-top: 6.0rem;
  margin-bottom: 0;
}

time {
  color: var(--c-text-secondary);
  margin-bottom: 1.0rem;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

ul ul {
  font-size: var(--fs-small);
  line-height: calc(var(--fs-small) * var(--leading-factor));
}

aside {
  color: var(--c-text-secondary);
  font-size: var(--fs-small);
  line-height: calc(var(--fs-small) * var(--leading-factor));
}

aside *:first-child {
  margin-top: 0;
}

aside *:last-child {
  margin-bottom: 0;
}

aside a {
  color: var(--c-accent-secondary);
  font-weight: bold;
}

html.chrome .safari {
  display: none;
}

svg {
  display: block;
  margin: 10.0rem auto;
  width: 39.64883424px;
  height: 60px;
  color: var(--c-bg-light);
  fill: var(--c-bg-light);

  transition-property: color, fill;
  transition-timing-function: linear;
  transition-duration: 200ms, 500ms;
}

a:hover svg {
  color: var(--c-accent-hover);
  fill: var(--c-accent);
}
