html {
  background: var(--c-bg);
  color: var(--c-text);
}

body {
  font: var(--fs-main)/calc(var(--fs-main) * var(--leading-factor)) -apple-system, BlinkMacSystemFont, sans-serif;
  width: 800px;
  margin: 0 auto;
}

h4 {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  font-size: 2.0rem;
  font-weight: 300;

  border-bottom: 1px solid var(--c-accent);

  padding-bottom: 0.3125rem;
  margin-top: 3.75rem;
  margin-bottom: 0;
}

time {
  color: var(--c-text-secondary);
  margin-bottom: 0.625rem;
}

code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

ul ul {
  font-size: var(--fs-small);
  line-height: calc(var(--fs-small) * var(--leading-factor));
}

aside {
  color: var(--c-text-secondary);
  font-size: var(--fs-small);
  line-height: calc(var(--fs-small) * var(--leading-factor));
}

aside *:first-child {
  margin-top: 0;
}

aside *:last-child {
  margin-bottom: 0;
}

aside a {
  color: var(--c-accent-secondary);
  font-weight: bold;
}

svg {
  cursor: pointer;
  display: block;
  margin: 6.25rem auto;
  height: 3.75rem;
  aspect-ratio: 1/1.51329;
  color: var(--c-bg-light);
  fill: var(--c-bg-light);

  transition-property: color, fill;
  transition-timing-function: linear;
  transition-duration: 200ms, 500ms;
}

svg:hover {
  color: var(--c-accent-hover);
  fill: var(--c-accent);
}

.release-tags {
  display: flex;
  flex-direction: row;

  margin-left: 0.9375rem;

  text-transform: uppercase;
  font-size: var(--fs-small);
  font-weight: bold;
  color: var(--c-text-secondary);
}

.release-tag {
  display: block;
  margin-right: 0.625rem;
}

.release-tag:last-child {
  margin-right: 0;
}

#version-6-0 {
  text-decoration: line-through;
  opacity: 0.4;
}